

nav ul {
    text-align: right;
    position: fixed;
    width: 100%;
    background-color: #e0ebe8;
  }
  
  nav ul li {
    display: inline-block;
    margin: 55px;
    margin-bottom: 15px;
    margin-top: 25px;
  }
  
  nav ul li a {
    color: #008080;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    color: green;
  }
  .intro {
    top: 0;
    background: #e0ebe8;
    min-height: 55vh;
    padding-top: 45vh;
    /*   line-height: 100vh; */
    /*   width:100%;
    height:96vh;
  border:solid; */
  }
  

  .project {
   text-decoration: none;
  
  }
  
figure {
  max-width: 200px;
}

  .project-pic {
   max-width: 200px;
  }
  
  .project-title {
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center; 
  }